<h1>Home page</h1>
<div class="homepageDescription">
    <p>Epic Theater Management System
        <br>CS 340 - Introduction to Databases</br>
       <br> Prepared by:</br> 
        <br>Alvaro Espinoza</br>
        <br>Sean Henry</br>
    </p>
    <p>
        <br>Work Cited:</br>
        <br>Date 2/12/26</br>
        <br>Code adapted from:</br>
        <br>https://canvas.oregonstate.edu/courses/2031764/pages/exploration-overview-of-the-web-application-development-process?module_item_id=26243420</br>
    </p>
</div>